<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/miestilo.css' %}">
    <title>Paginona</title>
</head>
<body>
    <a href="mi_app/formpage">Ven y deja un comentario</a>
    <table>
        <thead>
            <tr>
                <th>Intereses Favoritos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{interes1}}</td>
            </tr>
            <tr>
                <td>{{interes2}}</td>
            </tr>
            <tr>
                <td>{{interes3}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Integrantes del equipo ToyotaLegacy</h2>
    {% if toyota %}
        <table class="table">
            <thead>
                <th>Primer nombre</th>
                <th>Primer apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
            </thead>
            <tbody>
                {% for integrante in toyota %}
                    <tr>
                        <td>{{integrante.primer_nombre}}</td>
                        <td>{{integrante.apellido}}</td>
                        <td>{{integrante.email}}</td>
                        <td>{{integrante.telefono}}</td>
                        <td><a href="mi_app/usuario{{integrange.primer_nombre}}"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Chale no carga :(</p>
    {% endif %}
</div>

    <div class="section">
        <h2>Tabla perrona</h2>
        {% if access_records %}
            <ol>
                {% for record in access_records %}
                    <li> {{record.webname}} - {{record.date}} </li>
                {% endfor %}
            </ol>
        {% else %}
            <p> Limpiando el historial :</p>
        {% endif %}
    </div>
    <br/>
    <div class="divson">
        <img src="{% static 'images/fondo.jpg'%}" alt="Un cachillo del mapa">
        <img src="{% static 'images/thebig.jpg' %}" alt="La teoria del big bang">
        <img src="{% static 'images/coffee.jpg' %}" alt="Una tasilla de cafe">
    </div>
</body>
</html>